pkgbase = yam2-git
	pkgdesc = Yet another library for the M2 variables
	pkgver = 0.3.3.17028f3
	pkgrel = 1
	url = https://github.com/cbpark/YAM2
	arch = x86_64
	license = BSD
	makedepends = git
	makedepends = cmake
	depends = nlopt
	optdepends = root
	source = git+https://github.com/cbpark/YAM2.git
	md5sums = SKIP

pkgname = yam2-git
